@model IEnumerable<string>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="
    background-color: #343a40!important;">
            Categories
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" asp-action="List"
               asp-controller="Product"
               asp-route-category="">Clear</a>
            @foreach (string category in Model)
            {
                <a class="dropdown-item"
                   asp-action="List"
                   asp-controller="Product"
                   asp-route-category="@category"
                   asp-route-page="1">
                    @category
                </a>
            }
        </div>
    </div>
