@model Order
<h2>Check out now</h2>
<p>Please enter your Billing details, and we'll email your keys right away!</p>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Checkout" method="post">
    <h3>Billing Information</h3>
    <div class="form-group">
        <label>Card Number:</label><input asp-for="CardNumber" class="form-control" type="number"/>
    </div>
    <div class="form-group">
        <label>Name on Card:</label><input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Expiration:</label><input asp-for="Expiration" class="form-control" />
    </div>
    <div class="form-group">
        <label>Security Code:</label><input asp-for="SecurityCode" class="form-control" type="password" />
    </div>
    <div class="form-group">
        <label>Address:</label><input asp-for="Line1" class="form-control" />
    </div>
    <div class="form-group">
        <label>City:</label><input asp-for="City" class="form-control" />
    </div>
    <div class="form-group">
        <label>State:</label><input asp-for="State" class="form-control" />
    </div>
    <div class="form-group">
        <label>Zip:</label><input asp-for="Zip" class="form-control" />
    </div>


    <h3>Order Delivery</h3>
    <div class="form-group">
        <label>Email:</label><input asp-for="Email" class="form-control" />
    </div>
    <div class="text-center">
        <input class="btn btn-primary mb-4" type="submit" value="Complete Order" />
    </div>
</form>